.login-wrapper {
  position: absolute;
  left: 344px;
  top: 50px;
  width: 50%;
  height: 80px;
  border-radius: 6px;
  background-color: #FF6F5E;
  display: flex;
  justify-content: center;
  align-items: center;
}
