.list {
  display: inline-block;
  min-width: 650px;
  min-height: 300px;
  margin: 50px;
  border-radius: 15px;
  border: 1px solid #FF6F5E;
}
.default-title {
  margin-top: 33px;
  text-align: center;
  font-family: 'Inspiration', cursive;
  font-size: xxx-large;
  color: #151D3B;
}
.container {
  display: flex;
  justify-content: center;
}
