.list {
  display: inline-block;
  width: 50%;
  min-height: 300px;
  margin: 50px;
  border-radius: 15px;
  border: 1px solid #FF6F5E;
}
.default-title {
  margin-top: 5px;
  text-align: center;
  font-family: 'Inspiration', cursive;;
  font-size: xxx-large;
  color: #151D3B;
}
